<div class="search">
  <%= form_tag @word, method: 'get', id: 'search-form' do %>
    <%= text_field_tag :search, params[:search], class: "wordinput", 
      placeholder: "search/add a word", title: "Regex enabled" %>
  <% end %>
</div>
<div id="word-box">
  <span id="word-list">
  <% unless @words.empty? %>
    <% @words.each { |word| %>
      <li class="item">
        <%= link_to "\u{2717}", word, class: "delsym", method: :delete, 
        title: "delete" %> 
        <span title="view its definitions" id="<%=word.id%>" 
          class="word<%= current word.word %>"><%=word.word%>
        </span> 
      </li>
    <% } %>
  <% end %>
  </span>
  <span id="letter-nav">
  <% 'a'.upto('z') do |c| %>
    <li>
    <%= link_to c, words_path(search: "^[#{c}#{c.upcase}]"), class: "letter",
      title: "words beginning with letter #{c}" %>
    </li>
  <% end %>
  </span>
</div>
<div class="word-pages">
  <%= paginate @words %>
  <%= content_tag "span", how_many(@word_count), id: "word-count", 
    title: "total words" %>
</div>
