<div id="word-box" class='row'>
  <div id="word-list" class='col-sm-10 col-md-8'>
  <% unless @words.empty? %>
    <% @words.each { |word| %>
      <li class="item">
      <%= link_to "\u{2717}", word, class: "delsym admin #{hide_admin}",
        title: "delete", data:{ method: :delete, remote: true, type: 'json'} %> 
        <span title="view its definitions" id="<%=word.id%>" 
          class="word<%= current word.word %>"><%=word.word%>
        </span> 
      </li>
    <% } %>
  <% end %>
  </div>
  <div class='col-sm-2 col-md-4 hidden-xs-down'>
    <div id="letter-nav">
    <% 'a'.upto('z') do |c| %>
      <li>
      <%= link_to c, words_path(term: "^[#{c}#{c.upcase}]"), class: "letter",
        title: "words beginning with letter #{c}" %>
      </li>
    <% end %>
    </div>
  </div>
  <%= content_tag "div", how_many(@word_count), id: "word-count",
    title: "total words", class: 'col' %>
</div>
