<div class="search">
  <%= form_tag @word, method: 'get', id: 'search-form' do %>
    <%= text_field_tag :search, params[:search], class: "wordinput", 
      placeholder: "search/add a word", title: "Regex enabled" %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% end %>
</div>
<div class="word-list">
<ul>
<% unless @words.empty? %>
  <% @words.each { |word| %>
    <li class="item">
      <%= link_to "\u{2717}", word, class: "delsym", method: :delete, 
      title: "delete" %> 
      <%= content_tag "span", word.word, id: word.id, class: "word", 
         title: "view its definitions" %>
    </li>
  <% } %>
<% end %>
</ul>
</div>
<div class="word-navi">
  <%= paginate @words %>
  <%= content_tag "span", how_many(@word_count), id: "word-count", 
    title: "total words" %>
</div>
