<nav class="navigation">
  <%= render 'navigate' %>
</nav>

<%= content_tag "span", "\u{2795}", class: "add-word", 
  title: "add a new word" %>
<%= content_tag "span", notice, class: "notice" %>
<%= content_tag "span", id: "oauth" do %>
  <%= link_to image_tag("google.png", title: 
                        "Sign in with your Google account"), "auth/google" %>
  <%= link_to image_tag("github.png", title:
                        "Sign in with your GitHub account"), "auth/github" %>
<% end %>

<%= render 'definition' %>
