<div class="banner">
  <div id='notice-box' class='fixed-top'>
    <%= render 'layouts/flash_message' %>
  </div>

  <div class='row'>
    <span class='col-sm-12 col-md-8 align-self-start'>
      <%= link_to root_path do %>
        <h1><span id="m">M</span><span id="y">y</span>
        <span id="text"> Vocabulary</span></h1>
      <% end %>
    </span>
    <%= content_tag "span",
      class: "align-self-end col-sm-12 col-md-4 text-right username" do %>
      <% if login? %>
        <%= User.fullname(session[:user_id]) %>
      <% end %>
    <% end %>
  </div>
  <div class="bar purple-box">
    <span id='notice-channel-status' class='text-muted <%= hide_admin %>'>
      <span class='circle' data-toggle='tooltip' data-placement='right'
       title='WebSocket(ActionCable) connectivity status indicator:
       green - connected, red - disconnected, gray - unknown'></span>
    </span>
    <div id="log-button" class="on-off-button" data-turbolinks-permanent>
      <%= content_tag "span", id: "log-status", 
        class: "#{login? ? 'switch on': 'switch off'}" do %>
        <%= login? ? "Logged on" : "Logged off" %>
      <% end %>
    </div>
    <div id="admin-button" class="on-off-button<%= login? ? '' : ' hide' %>"
      data-turbolinks-permanent>
      <%= content_tag "span", id: "admin-status", 
        class: "switch #{admin_stat}" do %>
          <%= "Admin #{admin_stat}" %>
      <% end %>
    </div>
  </div>
</div>
