<div class="banner">
<%= link_to root_path do %>
  <h1><span id="m">M</span><span id="y">y</span>
  <span id="text"> Vocabulary</span></h1>
<% end %>
<%= content_tag "span", class: "username" do %>
  <% if login? %>
    <%= User.fullname(session[:user_id]) %>
  <% end %>
<% end %>
  <div class="bar purple-box">&nbsp;
    <div id="log-button" class="on-off-button">
      <%= content_tag "span", id: "log-status", 
        class: "#{login? ? 'switch on': 'switch off'}" do %>
        <%= login? ? "Logged on" : "Logged off" %>
      <% end %>
    </div>
    <div id="admin-button" class="on-off-button<%= login? ? '' : ' hide' %>">
      <%= content_tag "span", id: "admin-status", 
        class: "switch #{admin_stat}" do %>
          <%= "Admin #{admin_stat}" %>
      <% end %>
    </div>
  </div>
</div>
